@charset "utf-8";

body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}
main{
    background-color: white;
    
    height: auto;
    margin: auto;
}
.logos{
    margin: auto;
    width: 800px;
    border: 1px black solid;
}
iframe{
    display: flex;
    margin: auto;
    
}